<a href="https://colab.research.google.com/github/antony171060/Miraflores---A.-No-Supervisado/blob/master/Miraflores_A_No_Supervisado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!gdown --id 1LfUep5nl2qAn1pquylVb-cKxJ9lRijpk

Downloading...
From: https://drive.google.com/uc?id=1LfUep5nl2qAn1pquylVb-cKxJ9lRijpk
To: /content/Monitoreo_julio.xlsx
100% 86.0k/86.0k [00:00<00:00, 31.6MB/s]

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
data = pd.read_excel("Monitoreo_julio.xlsx")
data.head(3)

   ID  CODIGO DE LA ENTIDAD  ...  Presion \n(Pa) Temperatura (C)
0   1                 10069  ...      100750.768          15.711
1   2                 10069  ...      100739.407          15.725
2   3                 10069  ...      100743.128          15.441

[3 rows x 20 columns]

In [17]:
data = data.drop(['ID',
                  'CODIGO DE LA ENTIDAD',
                  'CODIGO UBIGEO INEI',
                  'CODIGO PAIS ',
                  'NOMBRE DE LA UO',
                  'Latitud',
                  'Longitud'],axis=1)
data.head(3)

                Fecha  CO (ug/m3)  ...  Presion \n(Pa)  Temperatura (C)
0 2020-07-01 00:00:00         0.0  ...      100750.768           15.711
1 2020-07-01 01:00:00         0.0  ...      100739.407           15.725
2 2020-07-01 02:00:00         0.0  ...      100743.128           15.441

[3 rows x 13 columns]