<a href="https://colab.research.google.com/github/antony171060/Miraflores---A.-No-Supervisado/blob/master/Miraflores_A_No_Supervisado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
!gdown --id 1LfUep5nl2qAn1pquylVb-cKxJ9lRijpk

Downloading...
From: https://drive.google.com/uc?id=1LfUep5nl2qAn1pquylVb-cKxJ9lRijpk
To: /content/Monitoreo_julio.xlsx
100% 86.0k/86.0k [00:00<00:00, 65.6MB/s]

In [30]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
data = pd.read_excel("Monitoreo_julio.xlsx")
data.head(3)

   ID  CODIGO DE LA ENTIDAD  ...  Presion \n(Pa) Temperatura (C)
0   1                 10069  ...      100750.768          15.711
1   2                 10069  ...      100739.407          15.725
2   3                 10069  ...      100743.128          15.441

[3 rows x 20 columns]

In [32]:
data = data.drop(['ID',
                  'CODIGO DE LA ENTIDAD',
                  'CODIGO UBIGEO INEI',
                  'CODIGO PAIS ',
                  'NOMBRE DE LA UO',
                  'Latitud',
                  'Longitud'],axis=1)
data.head(3)

                Fecha  CO (ug/m3)  ...  Presion \n(Pa)  Temperatura (C)
0 2020-07-01 00:00:00         0.0  ...      100750.768           15.711
1 2020-07-01 01:00:00         0.0  ...      100739.407           15.725
2 2020-07-01 02:00:00         0.0  ...      100743.128           15.441

[3 rows x 13 columns]

In [33]:
data['Año'] = data['Fecha'].dt.year
data['Mes'] = data['Fecha'].dt.month
data['Dia'] = data['Fecha'].dt.day
data['Hora'] = data['Fecha'].dt.hour
data.head(3)

                Fecha  CO (ug/m3)  H2S (ug/m3)  ...  Mes  Dia  Hora
0 2020-07-01 00:00:00         0.0          0.0  ...    7    1     0
1 2020-07-01 01:00:00         0.0          0.0  ...    7    1     1
2 2020-07-01 02:00:00         0.0          0.0  ...    7    1     2

[3 rows x 17 columns]

In [34]:
data = data.drop(['Fecha', 'Año', 'Mes'],axis=1)
data.head(3)

   CO (ug/m3)  H2S (ug/m3)  NO2 (ug/m3)  ...  Temperatura (C)  Dia  Hora
0         0.0          0.0       85.205  ...           15.711    1     0
1         0.0          0.0       84.505  ...           15.725    1     1
2         0.0          0.0       83.381  ...           15.441    1     2

[3 rows x 14 columns]